#fm{
        float: left;
        font-size: 20px;
                  
}
#pw{
        width: 200px;
        height: 25px
                  
}
#pic{
        width: 30px;
        height: 30px;
        float: left;
        display:inline-block;
        position:relative;
        top:2px;
        left:-35px;
        z-index:9;
}
.input{
  position:relative;
  display:inline-block;
}
